body {
    overflow: hidden;
    height: 100%;
}

/* video background */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.entirecontainer {
    position: relative;
    text-align: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.center-content {
    position: absolute;
    left: 50%;
    margin-top: 510px;
    transform: translate(-50%, -50%);
}

/* Glow Container */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
css {
    width: 100%;
    height: 100%;
}

.position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
}

/* #workarea {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #1a1917;

} */

/* #personal {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 2%;
} */

.spot {
    position: absolute;
    left: 0;
}

.svg-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    transform: scale(5);
}

#shape {
    stroke-width: 3px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -342;
    transition: 1s all ease;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #FD673A;
}

/* TypeWriter */
.containerType {
    display: inline-block;
    margin-top: 3.5px; 
    padding: 0;
}

.text {
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Rubik';
    width: 80%;
    border-right: 1px solid;
    border-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1px;
    position: relative; 
    left: 14%;
    animation:
        typing 8s infinite,
        cursor .5s step-end infinite alternate;
}

.containerType a {
    text-decoration: none;
}

@keyframes cursor {
    100% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    25% {
        width: 100%;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* avatar */
.avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: block; 
    margin: 0 auto; 
    margin-bottom: 100px;
}

img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* avataricon */

.avataricon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: block; 
    margin-right: 10px;
}